@font-face {
    font-family: Larsseit;
    src: url(fonts/Larsseit.ttf);
}

body{
    font-family:Larsseit;
    font-size:20px;
    text-align: center;
}

.nav ul{
    list-style-type: none;
    margin:10px;
    padding:10px;
    width:60%;
}

.nav li {
    display:inline;
    padding:10px;
    float:left;
}

li a{
    text-decoration: none;
}

li a:hover{
    background-color: #8bb69a;
}

form{
        margin:auto;
        width:40%;
}

#joinbox
{
    margin:auto;
    border-style:solid;
    width:40%;
    text-align:center;
    background-color: white;
    color:black;
}

#joinbox:hover
{
    border-style:solid;
    width:40%;
    border-color: #8bb69a;
    background-color: #8bb69a ;
    color: #273628;
}

.signlink a
{   color:black;
    font-weight: bold;
    text-decoration: none;
}

.signlink a:hover
{
    border-style:solid;
    width:40%;
    border-color: #8bb69a;
    background-color: #8bb69a ;
    color: #273628;
}

body .log
{
    font-size: 14;
}

#log img
{   padding:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#log
{
    margin:auto;
    text-align: center;
    width:40%
    padding:10px;
}

#loginbox{
    border-style: solid;
    border-color:#273628;
    margin:auto;
    width:30%;
}

#loginbox p{
    padding:10px;
}

#loginbox h3
{
    text-align:center;
}

#pearinfo
{
    padding:30px;
}

#signupbox
{
    margin:auto;
    border-style:solid;
    width:50%;
    text-align:center;
    padding:10px;
}

input[type=submit]{
    font-family: Larsseit;
    display: inline-block;
    border:0;
}

input[type=submit]:hover{
    background:#8bb69a;
}

#faq{
        margin:auto;
        width:80%
}
